extends ./partials/base.jade
block content
  // Banner
  section#banner
    header
      h2
        | Arcana:
        em
          | A responsive site template freebie by
          a(href='http://html5up.net') HTML5 UP
      a.button(href='#') Learn More
  // Highlights
  section.wrapper.style1
    .container
      .row(class='200%')
        section.4u(class='12u(narrower)')
          .box.highlight
            i.icon.major.fa-paper-plane
            h3 This Is Important
            p
              | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
        section.4u(class='12u(narrower)')
          .box.highlight
            i.icon.major.fa-pencil
            h3 Also Important
            p
              | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
        section.4u(class='12u(narrower)')
          .box.highlight
            i.icon.major.fa-wrench
            h3 Probably Important
            p
              | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
  // Gigantic Heading
  section.wrapper.style2
    .container
      header.major
        h2 A gigantic heading you can use for whatever
        p With a much smaller subtitle hanging out just below it
  // Posts
  section.wrapper.style1
    .container
      .row
        section.6u(class='12u(narrower)')
          .box.post
            a.image.left(href='#')
              img(src='images/pic01.jpg', alt='')
            .inner
              h3 The First Thing
              p
                | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
        section.6u(class='12u(narrower)')
          .box.post
            a.image.left(href='#')
              img(src='images/pic02.jpg', alt='')
            .inner
              h3 The Second Thing
              p
                | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
      .row
        section.6u(class='12u(narrower)')
          .box.post
            a.image.left(href='#')
              img(src='images/pic03.jpg', alt='')
            .inner
              h3 The Third Thing
              p
                | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
        section.6u(class='12u(narrower)')
          .box.post
            a.image.left(href='#')
              img(src='images/pic04.jpg', alt='')
            .inner
              h3 The Fourth Thing
              p
                | Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
  // CTA
  section#cta.wrapper.style3
    .container
      header
        h2 Are you ready to continue your quest?
        a.button(href='#') Insert Coin
