extends ./partials/base.jade
block content
  // Main
  section.wrapper.style1
    .container
      .row(class='200%')
        .4u(class='12u(narrower)')
          #sidebar
            // Sidebar
            section
              h3 Just a Subheading
              p
                | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                | Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                | Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.
              footer
                a.button(href='#') Continue Reading
            section
              h3 Another Subheading
              ul.links
                li
                  a(href='#') Amet turpis, feugiat et sit amet
                li
                  a(href='#') Ornare in hendrerit in lectus
                li
                  a(href='#') Semper mod quis eget mi dolore
                li
                  a(href='#') Consequat etiam lorem phasellus
                li
                  a(href='#') Amet turpis, feugiat et sit amet
                li
                  a(href='#') Semper mod quisturpis nisi
              footer
                a.button(href='#') More Random Links
        .8u(class='12u(narrower) important(narrower)')
          #content
            // Content
            article
              header
                h2 Left Sidebar
                p Sidebar on the left, content on the right.
              span.image.featured
                img(src='images/banner.jpg', alt='')
              p
                | Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                | Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                | Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi
                | consequat etiam lorem ipsum dolor sit amet nullam.
              h3 And Yet Another Subheading
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam risus, at tempus
                | justo. Sed dictum rutrum massa eu volutpat. Quisque vitae hendrerit sem. Pellentesque lorem felis,
                | ultricies a bibendum id, bibendum sit amet nisl. Mauris et lorem quam. Maecenas rutrum imperdiet
                | vulputate. Nulla quis nibh ipsum, sed egestas justo. Morbi ut ante mattis orci convallis tempor.
                | Etiam a lacus a lacus pharetra porttitor quis accumsan odio. Sed vel euismod nisi. Etiam convallis
                | rhoncus dui quis euismod. Maecenas lorem tellus, congue et condimentum ac, ullamcorper non sapien.
                | Donec sagittis massa et leo semper a scelerisque metus faucibus. Morbi congue mattis mi.
                | Phasellus sed nisl vitae risus tristique volutpat. Cras rutrum commodo luctus.
              p
                | Phasellus odio risus, faucibus et viverra vitae, eleifend ac purus. Praesent mattis, enim
                | quis hendrerit porttitor, sapien tortor viverra magna, sit amet rhoncus nisl lacus nec arcu.
                | Suspendisse laoreet metus ut metus imperdiet interdum aliquam justo tincidunt. Mauris dolor urna,
                | fringilla vel malesuada ac, dignissim eu mi. Praesent mollis massa ac nulla pretium pretium.
                | Maecenas tortor mauris, consectetur pellentesque dapibus eget, tincidunt vitae arcu.
                | Vestibulum purus augue, tincidunt sit amet iaculis id, porta eu purus.
