doctype html
//
  Arcana by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Arcana by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='assets/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
  body
    #page-wrapper
      // Header
      #header
        // Logo
        h1
          a#logo(href='index.html')
            | Arcana
            em by HTML5 UP
        // Nav
        nav#nav
          ul
            li.current
              a(href='index.html') Home
            li
              a(href='#') Dropdown
              ul
                li
                  a(href='#') Lorem dolor
                li
                  a(href='#') Magna phasellus
                li
                  a(href='#') Etiam sed tempus
                li
                  a(href='#') Submenu
                  ul
                    li
                      a(href='#') Lorem dolor
                    li
                      a(href='#') Phasellus magna
                    li
                      a(href='#') Magna phasellus
                    li
                      a(href='#') Etiam nisl
                    li
                      a(href='#') Veroeros feugiat
                li
                  a(href='#') Veroeros feugiat
            li
              a(href='left-sidebar.html') Left Sidebar
            li
              a(href='right-sidebar.html') Right Sidebar
            li
              a(href='two-sidebar.html') Two Sidebar
            li
              a(href='no-sidebar.html') No Sidebar
      block content
      // Footer
      #footer
        .container
          .row
            section.3u(class='6u(narrower) 12u$(mobilep)')
              h3 Links to Stuff
              ul.links
                li
                  a(href='#') Mattis et quis rutrum
                li
                  a(href='#') Suspendisse amet varius
                li
                  a(href='#') Sed et dapibus quis
                li
                  a(href='#') Rutrum accumsan dolor
                li
                  a(href='#') Mattis rutrum accumsan
                li
                  a(href='#') Suspendisse varius nibh
                li
                  a(href='#') Sed et dapibus mattis
            section.3u(class='6u$(narrower) 12u$(mobilep)')
              h3 More Links to Stuff
              ul.links
                li
                  a(href='#') Duis neque nisi dapibus
                li
                  a(href='#') Sed et dapibus quis
                li
                  a(href='#') Rutrum accumsan sed
                li
                  a(href='#') Mattis et sed accumsan
                li
                  a(href='#') Duis neque nisi sed
                li
                  a(href='#') Sed et dapibus quis
                li
                  a(href='#') Rutrum amet varius
            section.6u(class='12u(narrower)')
              h3 Get In Touch
              form
                .row(class='50%')
                  .6u(class='12u(mobilep)')
                    input#name(type='text', name='name', placeholder='Name')
                  .6u(class='12u(mobilep)')
                    input#email(type='email', name='email', placeholder='Email')
                .row(class='50%')
                  .12u
                    textarea#message(name='message', placeholder='Message', rows='5')
                .row(class='50%')
                  .12u
                    ul.actions
                      li
                        input.button.alt(type='submit', value='Send Message')
        // Icons
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-github(href='#')
              span.label GitHub
          li
            a.icon.fa-linkedin(href='#')
              span.label LinkedIn
          li
            a.icon.fa-google-plus(href='#')
              span.label Google+
        // Copyright
        .copyright
          ul.menu
            li &copy; Untitled. All rights reserved
            li
              | Design:
              a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.dropotron.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
